{% extends 'templates/app.twig' %}

{% block content %}
	<div class="content">
		<h3 class="pull-left">Tickets</h3>
		<a class="btn btn-primary pull-right" href="{{ path_for('tickets.create') }}">New Ticket</a>
		<div class="clearfix"></div>
		
		{% include 'tickets/table.twig' %}
	</div>
{% endblock %}